<h1><%= @song.title %></h1>

<ul>
  <li>Released: <%= @song.released %></li>
  <li>Release Year: <%= @song.release_year %></li>
  <li>Artist Name: <%= @song.artist_name %></li>
  <li>Genre: <%= @song.genre %></li>
</ul>

<%= button_to 'Delete Song', song_path(@song), method: 'delete' %>
